<%- include("./include/_sidebar") %>

<nav class="navbar">
    <div class="dmsidebar">
      <h1 style="margin-bottom: 45px;">여기에 닉네임</h1>
      
      <ul class="nav-links">
        <li><a href="/mainupload" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="/upload" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">이미지랑 닉네임</a></li><br><br><br>
       
      </ul>
    </div>
  </nav>

  <div class="content">
    <div class="dm">
      <div class="top-dm">
        <p><img src="/images/profile.jpg" style="height: 50px; width: 50px; margin-left:10px;"> 여기에 닉네임 </p>
        <img src="/images/dmpage.png" style="height: 65px; width: 140px; margin-left: auto;">
      </div>
      <hr> 
      <div class="dm-bottom">
        <img src="/images/profile.jpg" style="height: 100px; width: 100px; justify-content: center; "><br>
        여기에 닉네임 <br>
        <button type="button" class="dm-buttom">프로필 보기</button>
    </div>
        <form class="login" action="/" method="POST">
          <input type="text" id="dm" name="dm" placeholder="메시지 입력...." class="dm_input">
        </form>
    </div>
</div>

</body>
</html>