<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
   
    <title>Log in</title>
</head>
<body>
    
    <div class="div_top" id="top">
        <div class="div_top div_top_border" id="top">    
    <div class="img-instagram" id="top">
        <img src="/images/logo.png" class="logo">
        </div>
        
        <div class="noimage" id="top">
            <form class="login" action="/" method="POST">
              <input type="text" id="id" name="id" placeholder="Phone number, username, or email" class="id_input">
              <input type="text" id="pw" name="pw" placeholder="Password" class="pw_input">
              <button type="submit" class="loginbutton">Log in</button>
            
            
            <div class="div_or">
              <div class="left_or"></div> 
              <div class="or">or</div>
              <div class="right_or"></div> 
            </form>
            </div>

        <br>
          <a href="#" class="facebook"><img src="/images/facebook.png"  style="width: 1.4rem; height: 1.4rem;">
            Log in with Facebook</a>
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>
        </div>
        
        <div class="div_bottom" id="73:30">
        <span>Don&#39;t have an account?
            <a href="/sign" class="signup">Sign up</a></span>
        </div>
        
        
        <div class="get-the-app">Get the app.</div>
        <div style="display: flex;">
            <img src="/images/googlestore.png" style="display: inline-block; align-self: flex-start; width: 150px; height: 60px; margin-right: 40px;" >
            <img src="/images/micro.png" style="display: inline-block; align-self: flex-start; width: 150px; height: 60px;">
        </div>
</body>
</html>