<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/sign.css">
    <title>sign up</title>
</head>
<body>
    <div class="div_top" id="top">
        <div class="div_top_border">
            <div class="img-instagram">
                <img src="/images/logo.png" class="logo">
            </div> <br>
    
            <span style="color: #737373; font-size: 1.2rem;">Sign up to see photos and videos
                from your friends.</span><br>
    
            <button class="facebookbutton"><img src="/images/facebook.png"  style="width: 1.4rem; height: 1.4rem;"> Log in with Facebook</button>
    
            <div class="div_or">
                <div class="left_or"></div> 
                <div class="or">or</div>
                <div class="right_or"></div> 
            </div>
    
            <div class="noimage">
                <form class="sign" action="/sign" method="POST">
                  <input type="text" id="number" name="number" placeholder="Mobile Number or Email" class="number_input">
                  <input type="text" id="name" name="name" placeholder="Full Name" class="name_input">
                  <input type="text" id="id" name="id" placeholder="Username" class="id_input">
                  <input type="text" id="pw" name="pw" placeholder="Password" class="pw_input">
                  <span style="color: #737373; font-size: 1.2rem;">People who use our service may have uploaded</span>
                  <span style="color: #737373; font-size: 1.2rem;">
                  your contact information to Instagram.</span> 
                  <a href="#" style="color: #00376B; font-size: 1.2rem; text-decoration: none; font-weight: bold;">Learn More</a>

                  <br> <br>
                <button type="submit" class="loginbutton">Sign up</button>
                </form>
            </div>
        </div>
    11
    
    <div class="div_bottom" id="73:30">
        <span>Have an account?
            <a href="/" class="signup">Log in</a>
        </span>
    </div>
</div>
    
    <div class="get-the-app">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <span>Get the app.</span>
            <div style="display: flex; margin-top: 0.8rem;">
                <img src="/images/googlestore.png" style="width: 150px; height: 60px; margin-right: 40px;">
                <img src="/images/micro.png" style="width: 150px; height: 60px;">
            </div>
        </div>
    </div>
</body>
</html>