<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/story.css">
  <script src="/js/story.js"></script>
</head>
<body>
  
  <div class="card3">
    <div class="card-body2">
      <h5 class="card-title"><span style="font-weight: bold; font-size: 15px;"><%= userId %></span>님의 스토리 올리기</h5>
      <hr style="width: 100%; height: 1px; background-color: #dbdbdb; border: none; margin: 10px 0;">
      <h6 class="card-subtitle mb-2 text-muted">
        <img src="/images/upload.png" style="width: 180px; height: 180px; margin-top:60px;">
      </h6>
      <form method="POST" action="/storyupload" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center;">
        <input type="file" id="fileInput" name="img" style="display: none;" accept="image/*" onchange="storyImage(this)">
        <label for="fileInput" id="uploadLabel" class="btn2">컴퓨터에서 선택</label>
      </form>
    </div>
  </div>

  <div class="card4" id="card4" style="display: none;">
    <div class="card-body2">
      <h5 class="card-title"><span style="font-weight: bold; font-size: 15px;"><%= userId %></span>님 스토리 올리기</h5>
      <hr style="width: 100%; height: 1px; background-color: #dbdbdb; border: none; margin: 10px 0;">
      <h6 class="card-subtitle mb-2 text-muted" id="previewImage" style="margin-bottom: 50px;"></h6>
      <!-- 공유하기 버튼 -->
      <button id="storySelectBtn" class="btn2">+스토리 공유하기</button>
    </div>
  </div>

</body>
</html>
