<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href="/css/upload.css">
  <script src="/js/upload.js"></script>
</head>
<body>
  
  <div class="card">
    <div class="card-body" >
      <h5 class="card-title" style="font-weight: bold;">새 게시물 만들기<%= userId %></h5>
      <hr style="width: 100%; height: 1px; background-color: #dbdbdb; border: none; margin: 10px 0;">
      <h6 class="card-subtitle mb-2 text-muted">
        <img src="/images/upload.png" style="width: 180px; height: 180px; margin-top:60px;">
      </h6>
      <form method="POST" action="/main" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center;"></form>
      <input type="file" id="fileInput" name="img" style="display: none;" accept="image/*" onchange="uploadImage(this)">
      <label for="fileInput" id="uploadLabel" class="btn">컴퓨터에서 선택</label>
    </div>
  </div>


<div class="card2" id="card2" style="display: none;">
  <div class="card-body">
      <h5 class="card-title" style="font-weight: bold;">새 게시물 만들기<%= userId %></h5>
      <hr style="width: 100%; height: 1px; background-color: #dbdbdb; border: none; margin: 10px 0;">
      <h6 class="card-subtitle mb-2 text-muted" id="previewImage"></h6>
      
         
          <!-- 문구 입력 -->
          <label for="body">문구 입력:</label>
          <textarea placeholder="여기에 문구를 입력하세요" name="body" id="body" cols="50" rows="10"></textarea>
          <br>
          <!-- 공유하기 버튼 -->
          <button id="computerSelectBtn" class="btn">공유하기</button>
      </form>
  </div>
</div>
</body>

    
</body>
</html>
