* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #fafafa;
  }
  
  .sidebar1 {
    width: 250px;
    min-height: 100vh;
    padding: 20px;
    border-right: 2px solid #ccc;
    float: left;
    position: fixed; /*고정하기 */
  }
  
  .sidebar1 h1 {
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none; /* 리스트 마커 제거 */
    padding: 0; /* 내부 여백 제거 */
    margin: 0; /* 외부 여백 제거 */
    
    
  }
  
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    margin-left: 250px; 
    margin-right: 150px; 
  }
  
  
  .story-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
  }
  
  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  
  .story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    margin-left: 250px; 
    margin-right: 250px; 
  }
  
  .post::after {
    content: '';
    display: block;
    width: calc(100% - 40px); 
    height: 1px;
    background-color: #ccc; 
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  
  
  .post img {
    width: 100%; 
    max-width: 100%; 
  }
  
  
  
  .sidebar2{
    width: 250px;
    min-height: 100vh;
    padding: 20px;
    float: right;
  }
  
  .sideprofile {
    display: flex; 
    align-items: center; 
  }
  
  .sideprofile img,
  .sideprofile .username {
    align-self: center; 
  }
  
  
  /* 미디어 쿼리(Media Queries) */
  @media screen and (max-width: 768px) {
    .sidebar1, .sidebar2 {
      width: 100%; 
      float: none; 
    }
    @media screen and (max-width: 768px) {
    .story:nth-child(n+3),.sideprofile img,
    .sideprofile .username {
      display: none; 
    }
  }
  
  @media screen and (max-width: 576px) { /* 화면의 너비가 768px 이하인 경우에만 적용됨 */
    .story-container {
      padding: 5px; /* padding을 작게 조정 */
      margin-right: 5px; /* margin을 작게 조정 */
    }
  }
  
    .main-content {
      margin: 0;
    }
  }