<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NODESTAGRAM</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dm.css">
</head>

<body>
 
  <!--여기가 사이드 바 부분-->
  <nav class="navbar">
    <div class="sidebar1">
      <h1><img src="/images/logo.png" class="logo" style="height: 100px; width: 210px;"></h1>
      
      <ul class="nav-links">
        <li><a href="/mainpage" style="text-decoration: none; color: black;">홈</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">검색</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">탐색 탭</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">릴스</a></li><br>
        <li><a href="/dm" style="text-decoration: none; color: black;">메시지</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">알림</a></li><br>
        <li><a id="uploadlink" href="#" style="text-decoration: none; color: black;">만들기</a></li><br>
        <div id="dropdown" style="display: none;  border: solid 0.1rem grey; flex-direction:row;
        border-radius: 0.5rem; box-sizing: border-box; width: 50%; position: absolute; text-align: center;">
          <div class="dropdown-item"><a href="/upload" style="text-decoration: none; color: black; display: block; margin: 0 auto;">게시글</a></div><hr>
          <div class="dropdown-item"><a href="/storyupload" style="text-decoration: none; color: black;">스토리</a></div>
      </div>

      
      

        <li><a id ="profilepage" href="/profile/<%= userId %>" style="text-decoration: none; color: black;">프로필</a></li><br><br><br>
        <li><a href="#" style="text-decoration: none; color: black;">Threads</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">더보기</a></li>
      </ul>
    </div>
  </nav>

  <!--만들기 클릭 시 드롭다운 생성-->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const uploadlink = document.querySelector('#uploadlink');
      const dropdown = document.querySelector('#dropdown');
      
  
      uploadlink.addEventListener('click', function(event) {
        event.preventDefault(); 
  
        profilepage.style.display = "none";
        dropdown.style.display = 'block';
      });
    });
  </script>
