<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NODESTAGRAM</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dm.css">
</head>

<body>
 
  <!--여기가 사이드 바 부분-->
  <nav class="navbar">
    <div class="sidebar1">
      <h1><img src="/images/logo.png" class="logo" style="height: 100px; width: 210px;"></h1>
      
      <ul class="nav-links">
        <li><a href="/mainupload" style="text-decoration: none; color: black;">홈</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">검색</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">탐색 탭</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">릴스</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">메시지</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">알림</a></li><br>
        <li><a href="/upload" style="text-decoration: none; color: black;">만들기</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">프로필</a></li><br><br><br>
        <li><a href="#" style="text-decoration: none; color: black;">Threads</a></li><br>
        <li><a href="#" style="text-decoration: none; color: black;">더보기</a></li>
      </ul>
    </div>
  </nav>